<div class="jumbotron">
  <h1>Clothing, solved.</h1>
  <p>Clothes++ is a monthly clothing subscription designed entirely for guys. Join now to get clothes picked just for you by a stylist, so you can spend your time doing awesome guy stuff.</p>
  <p><a href="users/sign_up" class="btn btn-success btn-lg" role="button">Get Started</a> <a href="" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    Closet.initialize();
  });
</script>