<div id="root" class="container-fluid">
  <center>
    
    <!-- <center class="root-alerts">
      <div class="subscription-warning animated fadeIn">
        <% if current_user %>
          <% if current_user.preferences %>
            <% if current_user.preferences.subscription == "paused" %>
              <div class='alert alert-warning'>Your subscription status is currently paused. <a href="/#/preferences">Click here</a> to change your subscription preferences or check out the <a href="/#/items">inventory</a>!
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            <% end %>
          <% end %>
        <% end%>
      </div>
    
      <div class="errors animated bounceInRight">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <div class='temp-alert alert alert-danger alert-dismissable'><%= error %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          <% end %>
        <% end %>
        <% if flash[:notice] %>
          <div class='temp-alert alert alert-success alert-dismissable'><%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        <% end %>
      </div>
    </center> -->
    
    <div class="row">
      <div class="jumbotron" align="left">
        <h1>Clothing, solved.</h1>
        <br>
        <p class="lead">Closet++ is a monthly clothing subscription designed entirely for guys. Join now to get clothes picked just for you by a stylist, so you can spend your time doing awesome guy stuff.</p>
        <br>
      
        <form action="<%= new_user_session_url %>" method="post" accept-charset="utf-8">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        
          <input type="hidden" name="user[email]" value="test@test.com" id="email">
          <input type="hidden" name="user[password]" value="testing123" id="password">

        <p align="center"><button type="submit" class="btn btn-info btn-lg btn-block" role="button">Sign in as guest user</button></p>
        </form>
      
        <br>
        <p><a href="users/sign_up" class="btn btn-success btn-lg" role="button">Get Started</a> <a href="" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
      </div>
    </div>
  </center>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Closet.initialize();
    });
    
    if($("div.container-fluid#root").length > 0) {
      $(window).on("resize", function() {
          $("div.container-fluid#root").height($(window).height());
          console.log("resizing")
      });

      $(window).trigger('resize');
    }
  </script>
</div>