<hr>

<form role="form" class="order-form">
  <div class="alert alert-danger hidden">
  </div>
  
  <input type="hidden" name="order[buyer_id]" value="<%= userID %>" id="order[buyer_id]">
  <input type="hidden" name="order[item_id]" value="<%= item.id %>" id="order[item_id]">
  <input type="hidden" name="order[ship_date]" value="<%= date %>" id="order[ship_date]">
  
  <div class="item-form form-group">
    <strong>Select a Size:</strong>
    
      <select name="order[size]" class="form-control">
        <option></option>
        
    <% if(item.get("item_type") === "jeans" || item.get("item_type") === "pants" || item.get("item_type") === "shorts") { %>
        <% for(i = 28; i < 40; i++) { %>
          <option><%= i %></option>
        <% } %>
      </select>
    <% } else { %>
        <option value="xs">Extra-Small</option>
        <option value="sm">Small</option>
        <option value="md">Medium</option>
        <option value="lg">Large</option>
        <option value="xl">Extra-Large</option>
        <option value="xxl">XX-Large</option>
      </select>
    <% } %>
  </div>
  
  <button type="submit" class="add-order btn btn-default">Submit Order</button>
</form>