/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */


body {
  padding-top: 60px;
  font-family: "Lato", sans-serif !important;
  background-color: #F9F9FB !important;
}

footer {
  padding-bottom: 10px;
  background-color: #F0F0F0;
  border-color: #ddd;
  box-shadow: 0px 500px 0px 500px #F0F0F0;
}

.modal-content {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.errors {
  width: 80%;
}

.subscription-warning {
 width: 80%; 
}

.btn-color {
  background-image: none;
}

.jumbotron {
  width: 65%;
}


$navbar-height: 40px;
$navbar-default-bg: #F0F0F0;
$navbar-default-link-hover-bg: #ddd;

@import "bootstrap";