/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 60px;
}

.item-block {
  border-radius: 8px;
  float: left;
  width: 400px;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  background-color: #F0F0F0;
  color: #000000;
}

.order-form {
  width: 30%;
}

.order-details {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 60%;
  border: 1px black solid;
  border-radius: 8px;
}

.modal-content {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.errors {
  width: 80%;
}

.btn-color {
  background-image: none;
}