// Place all the styles related to the measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.measurements-form {
  border-radius: 8px;
  width: 70%;
  padding: 40px;
  padding-top: 8px;
  padding-bottom: 20px;
  opacity: 0;
}

body {
  font-family: "Lato",sans-serif ;
  line-height: 20px;
}

.meas-row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

.min-label {
  float: left;
  margin-left: -10px;
}

.max-label {
  float: right;
  margin-right: -25px;
}

.slider-label {
//  width: 100px;
  display: block;
  font-size: 12px;
//  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: #777;
  font-weight: 300;
}

.meas-block-left {
  float: left;
  width: 45%;
  margin: 10px;
  display: inline-block;
}

.meas-block-right {
  float: right;
  width: 45%;
  margin: 10px;
  display: inline-block;
}

.slider-text {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 350;
  margin-bottom: 10px;
}

.slider:hover {
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

body .indexes {
  height: 6px;
  margin: 10px 0px;
  background: url("//doplb1ll3c6nn.cloudfront.net/assets/common/indexes.png") top left repeat-x;
}

body form legend {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

legend.lg {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

body form fieldset label {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.autosave {
  position: absolute;
  text-align: center;
  width: 400px;
}