// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-form {
  width: 30%;
}

.order-details {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  border: 1px #ddd solid;
//  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.order-details-small {
  padding: 10px;
  width: 95%;
  border: 0px black solid;
  border-radius: 8px;
}