// Place all the styles related to the preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$footer-height: 40px;

.preferences-form {
  border-radius: 8px;
  width: 60%;
  padding: 40px;
  padding-top: 8px;
  padding-bottom: 20px;
  border: 0px black solid;
  background-color: #F0F0F0;
  color: #000000;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  margin-top: $footer-height;
}