// Place all the styles related to the preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preferences-form {
  border-radius: 8px;
  width: 60%;
  padding: 40px;
  padding-top: 8px;
  padding-bottom: 20px;
  border: 1px black solid;
}
