// Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style-form {
  border-radius: 8px;
  width: 70%;
  padding: 40px;
  padding-top: 8px;
  padding-bottom: 20px;
  border: 0px black solid;
}

.meas-block-left-style {
  float: left;
  width: 45%;
  margin: 10px;
  margin-bottom:20px;
  display: inline-block;
}

.meas-block-right-style {
  float: right;
  width: 45%;
  margin: 10px;
  margin-bottom:20px;
  display: inline-block;
}

.meas-block-left-style, .meas-block-right-style {
  select, textarea {
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  textarea {
    width: 350px;
    border-radius: 2px;
    border: 1px #ddd solid;
  //  background-color: #F0F0F0;
    color: #000000;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }
}

body form legend {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}